{% extends 'base.html' %}
{% import 'macros.html' as macros %}

{% block title %}
    Modificar tarea
    {{ super() }}
{% endblock %}

{% block content %}
<h1>Modificar tarea</h1>
<form method="POST">
    {{ macros.render_field(tasks_form.id) }}
    {{ macros.render_field_without_label(tasks_form.done) }}
    {{ macros.render_field_without_label(tasks_form.not_done) }}
    {{ macros.render_field_without_label(tasks_form.delete) }}
</form>
.
<hr>
    <h2>Mis tareas</h2>
    {{ macros.render_tasks(tasks) }}
{% endblock %}

{% block footer%}
    {% set links = {'Inicio': 'index_bp.index', 'Agregar Tarea': 'add_task_bp.add_task'} %}
    {{ macros.render_footer(links) }}
{% endblock %}